#header{
color: orange;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
section{
    display: flex;
}
h1{
    font-size: 30px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
    padding-right: 5%;
}
.half-width img{

    width: 60%;
    padding-left: 25%;
}
.hire-me-button{
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(250, 179, 132), rgb(247, 81, 81));
    font-weight: 700;
    color: aliceblue;
    padding: 9px 30px;
    border-radius: 5px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.resume-button{
    text-decoration: none;
    background-image: linear-gradient(to right, rgb(250, 49, 173), rgb(247, 26, 92));
    font-weight: 700;
    color: aliceblue;
    padding: 9px 30px;
    border-radius: 5px;
}
.top-banner{
    margin-bottom: 5%;
}
.dream-big{
    margin-bottom: 5%
}
.dream-big{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.non-flex{
    margin-bottom: 150px;
}
.exp-title{
    color: orange;
}
.experience-area{
    padding: 5%;
}
#bottom-line{

}
.pre-exp-shadow{
    width: 50%;
    padding-left: 2.5%;
    padding-right: 2.5%;
    box-shadow: 5px 5px 30px 5px gray;
    margin-left: 5%;
    margin-right: 5%;
}
